<!doctype html>
{% load static %}
<html class="fixed">
	<head>

		<!-- Basic -->
		<meta charset="UTF-8">

		<title>NGO |  Active Users List</title>
		
		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

		<!-- Web Fonts  -->
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<!-- Vendor CSS -->
		<link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/css/bootstrap.css' %}" />
		<link rel="stylesheet" href="{% static 'assets/vendor/magnific-popup/magnific-popup.css' %}" />
		<link rel="stylesheet" href="{% static 'assets/vendor/bootstrap-datepicker/css/datepicker3.css' %}" />

		<!-- Specific Page Vendor CSS -->
		<link rel="stylesheet" href="{% static 'assets/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css' %}" />
		<link rel="stylesheet" href="{% static 'assets/vendor/bootstrap-multiselect/bootstrap-multiselect.css' %}" />
		<link rel="stylesheet" href="{% static 'assets/vendor/morris/morris.css' %}" />

		<!-- Theme CSS -->
		<link rel="stylesheet" href="{% static 'assets/stylesheets/theme.css' %}" />

		<!-- Skin CSS -->
		<link rel="stylesheet" href="{% static 'assets/stylesheets/skins/default.css' %}" />

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="{% static 'assets/stylesheets/theme-custom.css' %}">

		<!-- Head Libs -->
		<script src="{% static 'assets/vendor/modernizr/modernizr.js' %}"></script>

	</head>
	<body>
		<section class="body">

			<!-- start: header -->
			<header class="header">
				<div class="logo-container">
					<a href="" class="logo">
						<img style="width:150px;"src="{% static 'logo.png' %}" height="35">
					</a>
					<div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
						<i class="fa fa-bars" aria-label="Toggle sidebar"></i>
					</div>
				</div>
			
				<!-- start: search & user box -->
				<div class="header-right">

					<span class="separator"></span>
			
					<div id="userbox" class="userbox">
						<a href="#" data-toggle="dropdown">
							<figure class="profile-picture">
								<img src="{% static 'assets/images/!logged-user.jpg' %}" alt="Joseph Doe" class="img-circle" data-lock-picture="assets/images/!logged-user.jpg" />
							</figure>
							<div class="profile-info" data-lock-name="John Doe" data-lock-email="johndoe@JSOFT.com">
								<span class="name">Hi! Admin</span>
								<span class="role">Logout Here</span>
							</div>
			
							<i class="fa custom-caret"></i>
						</a>
			
						<div class="dropdown-menu">
							<ul class="list-unstyled">
								<li class="divider"></li>
								<li>
									<a role="menuitem" tabindex="-1" href="/adminlogout/"><i class="fa fa-power-off"></i> Logout</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- end: search & user box -->
			</header>
			<!-- end: header -->

			<div class="inner-wrapper">
				<!-- start: sidebar -->
				<aside id="sidebar-left" class="sidebar-left">
				
					<div class="sidebar-header">
						<div class="sidebar-title">
							Navigation
						</div>
						<div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
							<i class="fa fa-bars" aria-label="Toggle sidebar"></i>
						</div>
					</div>
				
					<div class="nano">
						<div class="nano-content">
							<nav id="menu" class="nav-main" role="navigation">
								<ul class="nav nav-main">
									<li class="nav-active">
										<a href="/adminhome/">
											<i class="fa fa-home" aria-hidden="true"></i>
											<span>Dashboard</span>
										</a>
									</li>
									<li class="nav-parent">
										<a>
											<i class="fa fa-newspaper-o" aria-hidden="true"></i>
											<span>News Section</span>
										</a>
										<ul class="nav nav-children">
											<li>
												<a href="/postnews/">Post News</a>
											</li>
											<li>
												<a href="/newslist/">News List</a>
											</li>
										</ul>
									</li>
									<li class="nav-parent">
										<a>
											<i class="fa fa-user" aria-hidden="true"></i>
											<span>Users Section</span>
										</a>
										<ul class="nav nav-children">
											<li>
												<a href="/activeuser/">Active Users</a>
											</li>
											<li>
												<a href="/nonactiveuser/">Non Active Users</a>
											</li>
										</ul>
									</li>
									<li class="nav-parent">
										<a>
											<i class="fa fa-book" aria-hidden="true"></i>
											<span>Book Section</span>
										</a>
										<ul class="nav nav-children">
											<li>
												<a href="/addbooks/">Add Book</a>
											</li>
											<li>
												<a href="/addbookcategroy/">Add Book Category</a>
											</li>
											<li>
												<a href="/booklist/">Book List</a>
											</li>
										</ul>
									</li>
									<li class="nav-parent">
										<a>
											<i class="fa fa-bullhorn" aria-hidden="true"></i>
											<span>Campaign Section</span>
										</a>
										<ul class="nav nav-children">
											<li>
												<a href="/recentcampaigns/">Recent Campaign</a>
											</li>
											<li>
												<a href="/activecampaigns/">Active Campaigns</a>
											</li>
											<li>
												<a href="/deactivecampaigns/">Deactive Campaigns</a>
											</li>
										</ul>
									</li>
									<li class="nav-parent">
										<a>
											<i class="fa fa-money" aria-hidden="true"></i>
											<span>Donations</span>
										</a>
										<ul class="nav nav-children">
											<li>
												<a href="/recentdonation/">Recent Donation</a>
											</li>
											<li>
												<a href="/receiveddonation/">Received Donation</a>
											</li>
											
										</ul>
									</li>
								</ul>
							</nav>

						</div>
				
					</div>
				
				</aside>
				<!-- end: sidebar -->

				<section role="main" class="content-body">
					<header class="page-header">
						<h2> Active Users List</h2>
					
						<div class="right-wrapper pull-right">
							<ol class="breadcrumbs">
								<li>
									<a href="/adminhome/">
										<i class="fa fa-home"></i>
									</a>
								</li>
							</ol>
						</div>
					</header>

					<!-- start: page -->
						<div class="row">
							<div class="col-lg-12">
								<section class="panel">
									<header class="panel-heading">
						
										<h2 class="panel-title">Active Users List</h2>

									</header>
									<div class="panel-body">
										<div class="table-responsive">
											<div style="overflow-x:auto;overflow-y:auto;">
											<table class="table table-hover mb-none">
												<thead>
													<tr>
														<th>Registration Date</th>
														<th>ID</th>
														<th>Name</th>
														<th>Gender</th>
														<th>Email</th>
														<th>Phone</th>
														<th>Address</th>
														<th>City</th>
														<th>State</th>
														<th>Age</th>
														<th>Adhaar</th>
														<th></th>
													</tr>
												</thead>
												<tbody>
													{% for x in data %}
													<tr>
														<td>{{ x.User_Date|safe }}</td>
														<td>{{ x.User_ID|safe }}</td>
														<td>{{ x.User_Fname|safe }} {{ x.User_Lname|safe }}</td>
														<td>{{ x.User_Gender|safe }}</td>
														<td>{{ x.User_Email|safe }}</td>
														<td>{{ x.User_Phone|safe }}</td>
														<td>{{ x.User_Address|safe }}</td>
														<td>{{ x.User_City|safe }}</td>
														<td>{{ x.User_State|safe }}</td>
														<td>{{ x.User_Age|safe }}</td>

														<td>
															<img src="{{ x.User_Adhaar.url|safe }}" style="width:100px;">
														</td>
														<td>
															<a class="mb-xs mt-xs mr-xs btn btn-danger" href="/makeuserdeactive/?uid={{ x.User_ID|safe }}">Deactive</a>
														</td>
													</tr>
													{% endfor %}
												</table>
												</div>
										</div>
									</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
						
						
					<!-- end: page -->
	</section>
</div>

			
</section>

		<!-- Vendor -->
		<script src="{% static 'assets/vendor/jquery/jquery.js' %}"></script>
		<script src="{% static 'assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js' %}"></script>
		<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.js' %}"></script>
		<script src="{% static 'assets/vendor/nanoscroller/nanoscroller.js' %}"></script>
		<script src="{% static 'assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
		<script src="{% static 'assets/vendor/magnific-popup/magnific-popup.js' %}"></script>
		<script src="{% static 'assets/vendor/jquery-placeholder/jquery.placeholder.js' %}"></script>
		
		<!-- Specific Page Vendor -->
		<script src="{% static 'assets/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js' %}"></script>
		<script src="{% static 'assets/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js' %}"></script>
		<script src="{% static 'assets/vendor/jquery-appear/jquery.appear.js' %}"></script>
		<script src="{% static 'assets/vendor/bootstrap-multiselect/bootstrap-multiselect.js' %}"></script>
		<script src="{% static 'assets/vendor/jquery-easypiechart/jquery.easypiechart.js' %}"></script>
		<script src="{% static 'assets/vendor/flot/jquery.flot.js' %}"></script>
		<script src="{% static 'assets/vendor/flot-tooltip/jquery.flot.tooltip.js' %}"></script>
		<script src="{% static 'assets/vendor/flot/jquery.flot.pie.js' %}"></script>
		<script src="{% static 'assets/vendor/flot/jquery.flot.categories.js' %}"></script>
		<script src="{% static 'assets/vendor/flot/jquery.flot.resize.js' %}"></script>
		<script src="{% static 'assets/vendor/jquery-sparkline/jquery.sparkline.js' %}"></script>
		<script src="{% static 'assets/vendor/raphael/raphael.js' %}"></script>
		<script src="{% static 'assets/vendor/morris/morris.js' %}"></script>
		<script src="{% static 'assets/vendor/gauge/gauge.js' %}"></script>
		<script src="{% static 'assets/vendor/snap-svg/snap.svg.js' %}"></script>
		<script src="{% static 'assets/vendor/liquid-meter/liquid.meter.js' %}"></script>
		<script src="{% static 'assets/vendor/jqvmap/jquery.vmap.js' %}"></script>
		<script src="{% static 'assets/vendor/jqvmap/data/jquery.vmap.sampledata.js' %}"></script>
		<script src="{% static 'assets/vendor/jqvmap/maps/jquery.vmap.world.js' %}"></script>
		<script src="{% static 'assets/vendor/jqvmap/maps/continents/jquery.vmap.africa.js' %}"></script>
		<script src="{% static 'assets/vendor/jqvmap/maps/continents/jquery.vmap.asia.js' %}"></script>
		<script src="{% static 'assets/vendor/jqvmap/maps/continents/jquery.vmap.australia.js' %}"></script>
		<script src="{% static 'assets/vendor/jqvmap/maps/continents/jquery.vmap.europe.js' %}"></script>
		<script src="{% static 'assets/vendor/jqvmap/maps/continents/jquery.vmap.north-america.js' %}"></script>
		<script src="{% static 'assets/vendor/jqvmap/maps/continents/jquery.vmap.south-america.js' %}"></script>
		
		<!-- Theme Base, Components and Settings -->
		<script src="{% static 'assets/javascripts/theme.js' %}"></script>
		
		<!-- Theme Custom -->
		<script src="{% static 'assets/javascripts/theme.custom.js' %}"></script>
		
		<!-- Theme Initialization Files -->
		<script src="{% static 'assets/javascripts/theme.init.js' %}"></script>


		<!-- Examples -->
		<script src="{% static 'assets/javascripts/dashboard/examples.dashboard.js' %}"></script>

	</body>
</html>